# ============================================================
# CHATBOT ACADÉMICO INTELIGENTE — PUCESI
# Variables de Entorno — Entorno de Desarrollo
# ============================================================
# IMPORTANTE: Copia este archivo como .env y llena los valores
# NUNCA subas el archivo .env a GitHub
# ============================================================

# ---- BASE DE DATOS POSTGRESQL ----
DB_NAME=tesis_chatbot_db
DB_USER=postgres
DB_PASSWORD=cambia-esta-contrasena
DB_HOST=localhost
DB_PORT=5432

# ---- DJANGO ----
DJANGO_SECRET_KEY=tu-clave-secreta-django-muy-larga-y-aleatoria-cambia-esto
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# ---- OPENAI (Obtener en: https://platform.openai.com/api-keys) ----
OPENAI_API_KEY=coloca-tu-api-key-aqui
OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_TTS_MODEL=gpt-4o-mini-tts
OPENAI_TTS_VOICE=nova
OPENAI_TTS_INSTRUCTIONS=Lee estrictamente en español latinoamericano neutral, con tono académico y natural. Mantén pronunciación española incluso si el texto contiene siglas, enlaces, nombres de carreras, materias o términos técnicos. No traduzcas ni alternes al inglés.
OPENAI_WHISPER_MODEL=whisper-1

# ---- JWT ----
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=15
JWT_REFRESH_TOKEN_LIFETIME_DAYS=7

# ---- 2FA / OTP ----
OTP_EXPIRY_SECONDS=300
OTP_LENGTH=6
SEED_STUDENT_PASSWORD=
SEED_TEACHER_PASSWORD=
SEED_ADMIN_PASSWORD=
# En desarrollo, el OTP se imprime en consola (no se envía email real)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tu-email@gmail.com
EMAIL_HOST_PASSWORD=tu-app-password

# ---- FRONTEND ----
FRONTEND_URL=http://localhost:5173
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

# ---- RAG / FAISS ----
FAISS_INDEX_PATH=./rag_index/faiss_index
DOCUMENTS_PATH=./documents
RAG_TOP_K=5
RAG_CHUNK_SIZE=500
RAG_CHUNK_OVERLAP=50
RAG_EXCLUDED_SOURCE_FILES=Estudiantes_Prueba.txt
